@import "./variables.scss";
@import "./sass-reset.scss";

body {
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  $dark-blue: hsl(218, 44%, 22%);
}

.container {
  img {
    border-radius: 15px;
  }
  padding: 25px 30px;
  margin-top: 60px;
  border-radius: 15px;
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
